@model Awesome.Models.ViewModel.AdminViewModel
@{
    ViewBag.Title = "PlaceBetPage";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">EM Tipset 2016</h1>
                    <p class="intro-text">
                        @ViewData["Logout"]
                        @if (@ViewData["Logout"] == null)
                        {
                            @String.Format("Ingen kommer ihåg en fegis!")
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

@if (!Model.HasReported)
{

    using (Html.BeginForm("ReportResult", "Admin", FormMethod.Post))
    {

        for (int i = 0; i < Model.ReportedResult.Result.MatchResults.Count; i++)
        {
            <ul>
                <li>
                    @Html.HiddenFor(x => x.ReportedResult.Matches[i].MatchId)
                    @Html.HiddenFor(x => x.ReportedResult.Matches[i].HomeTeam)
                    @Html.DisplayFor(x => x.ReportedResult.Matches[i].HomeTeam) -

                    @Html.HiddenFor(x => x.ReportedResult.Matches[i].AwayTeam)
                    @Html.DisplayFor(x => x.ReportedResult.Matches[i].AwayTeam)

                    @Html.TextBoxFor(x => x.ReportedResult.Matches[i].HomeScore, new { @Value = Model.ReportedResult.Result.MatchResults[i].HomeScore }) - @Html.TextBoxFor(x => x.ReportedResult.Matches[i].AwayScore, new { @Value = Model.ReportedResult.Result.MatchResults[i].AwayScore })
                </li>
            </ul>
        }
        <h6>Finalistlag 1</h6>
        @Html.DropDownListFor(x => x.ReportedResult.Finalist1, new SelectList(Model.Teams, "name", "name"), "Välj lag")

        <h6>Finalistlag 2</h6>
                            @Html.DropDownListFor(x => x.ReportedResult.Finalist2, new SelectList(Model.Teams, "name", "name"), "Välj lag")

                            <h6>Semifinalistlag 1</h6>
                            @Html.DropDownListFor(x => x.ReportedResult.Semifinalist1, new SelectList(Model.Teams, "name", "name"), "Välj lag")

                            <h6>Semifinalistlag 2</h6>
                            @Html.DropDownListFor(x => x.ReportedResult.Semifinalist2, new SelectList(Model.Teams, "name", "name"), "Välj lag")

                            <h6>Semifinalistlag 3</h6>
                            @Html.DropDownListFor(x => x.ReportedResult.Semifinalist3, new SelectList(Model.Teams, "name", "name"), "Välj lag")

                            <h6>Semifinalistlag 4</h6>
                            @Html.DropDownListFor(x => x.ReportedResult.Semifinalist4, new SelectList(Model.Teams, "name", "name"), "Välj lag")

                            <h6>Kvartsfinalistlag 1</h6>
                            @Html.DropDownListFor(x => x.ReportedResult.QuarterFinalist1, new SelectList(Model.Teams, "name", "name"), "Välj lag")

                            <h6>Kvartsfinalistlag 2</h6>
                            @Html.DropDownListFor(x => x.ReportedResult.QuarterFinalist2, new SelectList(Model.Teams, "name", "name"), "Välj lag")

                            <h6>Kvartsfinalistlag 3</h6>
                            @Html.DropDownListFor(x => x.ReportedResult.QuarterFinalist3, new SelectList(Model.Teams, "name", "name"), "Välj lag")

                            <h6>Kvartsfinalistlag 4</h6>
                            @Html.DropDownListFor(x => x.ReportedResult.QuarterFinalist4, new SelectList(Model.Teams, "name", "name"), "Välj lag")

                            <h6>Kvartsfinalistlag 5</h6>
                            @Html.DropDownListFor(x => x.ReportedResult.QuarterFinalist5, new SelectList(Model.Teams, "name", "name"), "Välj lag")

                            <h6>Kvartsfinalistlag 6</h6>
                            @Html.DropDownListFor(x => x.ReportedResult.QuarterFinalist6, new SelectList(Model.Teams, "name", "name"), "Välj lag")

                            <h6>Kvartsfinalistlag 7</h6>
                            @Html.DropDownListFor(x => x.ReportedResult.QuarterFinalist7, new SelectList(Model.Teams, "name", "name"), "Välj lag")

                            <h6>Kvartsfinalistlag 8</h6>
                            @Html.DropDownListFor(x => x.ReportedResult.QuarterFinalist8, new SelectList(Model.Teams, "name", "name"), "Välj lag")


                            <h6>Skytteligavinnare</h6>
                            @Html.TextBoxFor(model => model.ReportedResult.TopScorer)


                            <h6>Totalt antal mål i turneringen (utslagsfråga)</h6>
                            @Html.TextBoxFor(model => model.ReportedResult.TotalGoals)


                            <input type="submit" value="Skicka" class="btn btn-default" />
    }
}
@ViewBag.Message

