@model Awesome.Models.ViewModel.MyPageViewModel

@if (!Model.HasBetted)
{
    <h4>Här kan du tjuvkika på andra spel när du själv lagt ditt egna!</h4>
}
else
{
    

<div class="dropdown">

    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Andras spel<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach (var item in Model.OtherUsersBet)
        {
            <li id="@item.LoginName"><a href="#othersBet">@item.LoginName</a></li>
        }
    </ul>
</div>



foreach (var bet in Model.OtherUsersBet)
            {
    <ul data-id="@bet.LoginName" hidden>
        @foreach (var match in bet.UserBet.Matches)
                {

            <div class="col-md-8">@match.HomeScore - @match.AwayScore</div>

        }
        Finalistlag 1: @bet.UserBet.Finalist1
        Finalistlag 2: @bet.UserBet.Finalist2
        Semifinalistlag 1: @bet.UserBet.Semifinalist1
        Semifinalistlag 2: @bet.UserBet.Semifinalist2
        Semifinalistlag 3: @bet.UserBet.Semifinalist3
        Semifinalistlag 4: @bet.UserBet.Semifinalist4
        Kvartsfinallag 1: @bet.UserBet.QuarterFinalist1
        Kvartsfinallag 2: @bet.UserBet.QuarterFinalist2
        Kvartsfinallag 3: @bet.UserBet.QuarterFinalist3
        Kvartsfinallag 4: @bet.UserBet.QuarterFinalist4
        Kvartsfinallag 5: @bet.UserBet.QuarterFinalist5
        Kvartsfinallag 6: @bet.UserBet.QuarterFinalist6
        Kvartsfinallag 7: @bet.UserBet.QuarterFinalist7
        Kvartsfinallag 8: @bet.UserBet.QuarterFinalist8
        Skytteligavinnare: @bet.UserBet.TopScorer
        Totalt antal mål i turneringen (utslagsfråga): @bet.UserBet.TotalGoals
    </ul>
}
}