@using System.Security.Policy
<h2 class="text-center">Spelschema</h2>



<table class="table noBorder">


    @foreach (var group in Model.Matches)
    {
        <thead>
        <tr class="text-center">
            <th class="noBorder" colspan="8">@group[0].Date</th>

        </tr>
        </thead>


        foreach (var match in group)
        {
            <tbody>
            <tr>
                <td class="noBorder">@match.Time</td>

                <td class="noBorder text-right hidden-xs">
                    @match.HomeTeam
                </td>

                <td class="flag-@match.HomeTeam.Replace(" ", "_") noBorder" style="height: 40px; border-top: none;" title="@match.HomeTeam"></td>
                <td class="noBorder">
                    vs
                </td>
                <td class="flag-@match.AwayTeam.Replace(" ", "_") noBorder" style="height: 40px; border: none;" title="@match.AwayTeam"></td>
                <td class="noBorder text-left hidden-xs">
                    @match.AwayTeam
                </td>




                @if (match.Status == "FINISHED")
                {
                    <td class="noBorder">
                        @match.HomeScore -
                        @match.AwayScore
                    </td>
                }
                else
                {
                    <td class="noBorder"></td>
                }


            </tr>
            </tbody>
        }



    }

</table>

