@using System.Diagnostics.Eventing.Reader
@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <link href="/Content/css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Content/css/grayscale.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Em-Tipset 2016</span>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">

                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    @if (Request.Url.AbsoluteUri == "http://tipset.azurewebsites.net/") //Ändra till faktisk url
                    {
                        <li> <a class="page-scroll" href="#page-top">Start</a></li>
                        <li> <a class="page-scroll" href="#standings">Tabell</a></li>
                        <li> <a class="page-scroll" href="#schedule">Spelschema</a></li>
                        <li> <a class="page-scroll" href="#rules">Regler</a></li>
                        if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                        {
                            <li id="dropDownList"class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                   
                                    <li>@Html.ActionLink("Mitt spel", "Index", "MyPage", null, null, "myBet", null, null)</li>
                                    
                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                    {
                                        <li role="separator" class="divider"></li>
                                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                                    }
                                    <li role="separator" class="divider"></li>
                                    <li>@Html.ActionLink("Signout", "SignOut", "Account")</li>
                                </ul>
                            </li>
                        }

                    }
                    else
                    {
                        <li>@Html.ActionLink("Start", "Index", "Home")</li>
                        <li>@Html.ActionLink("Tabell", "Index", "Home", null, null, "standings", null, null)</li>
                        <li>@Html.ActionLink("Spelschema", "Index", "Home", null, null, "schedule", null, null)</li>
                        <li>@Html.ActionLink("Regler", "Index", "Home", null, null, "rules", null, null)</li>


                        if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                        {

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                   
                                   <li>@Html.ActionLink("Mitt spel", "Index", "MyPage", null, null, "myBet", null, null)</li>
                                   
                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                    {
                                        <li role="separator" class="divider"></li>
                                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                                    }
                                    <li role="separator" class="divider"></li>
                                    <li>@Html.ActionLink("Signout", "SignOut", "Account")</li>
                                </ul>
                            </li>
                        }
                    }

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Intro Header -->


    @RenderBody()
    <!-- Footer -->
    <footer>
        <div class="text-center footer">
           
        </div>
    </footer>
    <!-- jQuery -->
    <script src="/Content/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Content/js/bootstrap.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/Content/js/jquery.easing.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Content/js/grayscale.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>
</html>
