@model Awesome.Models.ViewModel.MyPageViewModel

<div class="col-lg-12">
    <div class=" text-center panel panel-default">
        <div class="myBetContainer">
            <table class="table myBetTable" colspan="7">
                @foreach (var item in Model.UserBet.Matches)
                {
                    <tr data-toggle="collapse" data-target="#@item.MatchId" class="accordion-toggle showResultsRow" id="accordion">
                        <td colspan="9">
                            <div>
                                <table class="showResultTable">
                                    <tr>
                                        <td style="width: 40px">
                                            <div class="result-color-cirkle-@item.ResultColor"></div>
                                        </td>
                                        <td class="td-width">
                                            @item.HomeTeam
                                        </td>
                                        <td class="">
                                            -
                                        </td>
                                        <td class="td-width">
                                            @item.AwayTeam
                                        </td>
                                        <td class="" style="width: 40px; float: left;">@item.HomeScore - @item.AwayScore</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>

                    <td colspan="12" class="hiddenRow">
                        <div class="accordian-body collapse" id="@item.MatchId">
                            <table class="table table-striped">
                                <thead>
                                    @foreach (var result in Model.Result.MatchResults.Where(x => x.AwayTeam == item.AwayTeam && x.HomeTeam == item.HomeTeam))
                                    {
                                        <tr>
                                            <td colspan="5" class="borderFix">
                                                <div>
                                                    <table>
                                                        @if (result.Status != null)
                                                        {
                                                            <h4 style="color: black">@result.Status</h4>
                                                        }
                                                        <td>
                                                            <img class="flag flag-@result.HomeTeam.Replace(" ", "_")" />
                                                        </td>
                                                        <td class="td-fix">@result.HomeScore</td>
                                                        <td style="">
                                                            -
                                                        </td>
                                                        <td class="td-fix">
                                                            @result.AwayScore
                                                        </td>
                                                        <td>
                                                            <img class="flag flag-@result.AwayTeam.Replace(" ", "_")" />
                                                        </td>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    @foreach (var result in Model.CurrentUserBet.Matches.Where(x => x.AwayTeam == item.AwayTeam && x.HomeTeam == item.HomeTeam))
                                    {
                                    <td class="otherBets">
                                        <div>
                                            <b>Mitt spel: </b>@result.HomeScore-@result.AwayScore
                                        </div>
                                    </td>
                                }
                                    </thead>
                                </table>
                            </div>
                        </td>
                    }
                <tr data-toggle="collapse" data-target="#16final" class="accordion-toggle showResultsRow">
                    <td colspan="9">
                        <div>
                            <table class="showResultTable">
                                <tr>
                                    <td>Lag i åttondelsfinal</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <td colspan="12" class="hiddenRow">
                    <div class="accordian-body collapse" id="16final">
                        <table class="table">
                            <thead class="16finalBet">
                                <tr>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                    <td class="col-md-2"><img class="flag flag-@Model.UserBet.Qualified1.Replace(" ", "_")" /></td>
                                    <td class="col-md-3"><img class="flag flag-@Model.UserBet.Qualified2.Replace(" ", "_")" /></td>
                                    <td class="col-md-3"><img class="flag flag-@Model.UserBet.Qualified3.Replace(" ", "_")" /></td>
                                    <td class="col-md-2"><img class="flag flag-@Model.UserBet.Qualified4.Replace(" ", "_")" /></td>
                                    <td class="col-md-1"></td>
                                </tr>
                                <tr>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                    <td style="border-top: none; color: @Model.UserBet.Qualified1Color"> @Model.UserBet.Qualified1</td>
                                    <td style="border-top: none; color: @Model.UserBet.Qualified2Color"> @Model.UserBet.Qualified2</td>
                                    <td style="border-top: none; color: @Model.UserBet.Qualified3Color"> @Model.UserBet.Qualified3</td>
                                    <td style="border-top: none; color: @Model.UserBet.Qualified4Color"> @Model.UserBet.Qualified4</td>
                                    <td class="col-md-1" style="border-top: none;"></td>

                                </tr>
                                <tr>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                    <td style="border-top: none;" class="col-md-2"><img class="flag flag-@Model.UserBet.Qualified5.Replace(" ", "_")" /></td>
                                    <td style="border-top: none;" class="col-md-3"><img class="flag flag-@Model.UserBet.Qualified6.Replace(" ", "_")" /></td>
                                    <td style="border-top: none;" class="col-md-3"><img class="flag flag-@Model.UserBet.Qualified7.Replace(" ", "_")" /></td>
                                    <td style="border-top: none;" class="col-md-2"><img class="flag flag-@Model.UserBet.Qualified8.Replace(" ", "_")" /></td>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                </tr>
                                <tr style="color: black;">
                                    <td class="col-md-1" style="border-top: none;"></td>
                                    <td style="border-top: none; color: @Model.UserBet.Qualified5Color"> @Model.UserBet.Qualified5</td>
                                    <td style="border-top: none; color: @Model.UserBet.Qualified6Color"> @Model.UserBet.Qualified6</td>
                                    <td style="border-top: none; color: @Model.UserBet.Qualified7Color"> @Model.UserBet.Qualified7</td>
                                    <td style="border-top: none; color: @Model.UserBet.Qualified8Color"> @Model.UserBet.Qualified8</td>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                </tr>
                                <tr>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                    <td class="col-md-2" style="border-top: none;"><img class="flag flag-@Model.UserBet.Qualified9.Replace(" ", "_")" /></td>
                                    <td class="col-md-3" style="border-top: none;"><img class="flag flag-@Model.UserBet.Qualified10.Replace(" ", "_")" /></td>
                                    <td class="col-md-3" style="border-top: none;"><img class="flag flag-@Model.UserBet.Qualified11.Replace(" ", "_")" /></td>
                                    <td class="col-md-2" style="border-top: none;"><img class="flag flag-@Model.UserBet.Qualified12.Replace(" ", "_")" /></td>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                </tr>
                                <tr>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                    <td style="border-top: none; color: @Model.UserBet.Qualified9Color"> @Model.UserBet.Qualified9</td>
                                    <td style="border-top: none; color: @Model.UserBet.Qualified10Color"> @Model.UserBet.Qualified10</td>
                                    <td style="border-top: none; color: @Model.UserBet.Qualified11Color"> @Model.UserBet.Qualified11</td>
                                    <td style="border-top: none; color: @Model.UserBet.Qualified12Color"> @Model.UserBet.Qualified12</td>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                </tr>
                                <tr>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                    <td style="border-top: none;" class="col-md-2"><img class="flag flag-@Model.UserBet.Qualified13.Replace(" ", "_")" /></td>
                                    <td style="border-top: none;" class="col-md-3"><img class="flag flag-@Model.UserBet.Qualified14.Replace(" ", "_")" /></td>
                                    <td style="border-top: none;" class="col-md-3"><img class="flag flag-@Model.UserBet.Qualified15.Replace(" ", "_")" /></td>
                                    <td style="border-top: none;" class="col-md-2"><img class="flag flag-@Model.UserBet.Qualified16.Replace(" ", "_")" /></td>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                </tr>
                                <tr style="color: black;">
                                    <td class="col-md-1" style="border-top: none;"></td>
                                    <td style="border-top: none; border-bottom: 1px solid #ddd; color: @Model.UserBet.Qualified13Color"> @Model.UserBet.Qualified13</td>
                                    <td style="border-top: none; border-bottom: 1px solid #ddd; color: @Model.UserBet.Qualified14Color"> @Model.UserBet.Qualified14</td>
                                    <td style="border-top: none; border-bottom: 1px solid #ddd; color: @Model.UserBet.Qualified15Color"> @Model.UserBet.Qualified15</td>
                                    <td style="border-top: none; border-bottom: 1px solid #ddd; color: @Model.UserBet.Qualified16Color"> @Model.UserBet.Qualified16</td>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                </tr>
                            </thead>

                            <tr style="color: black" class="text-center">
                                <td class="col-md-1" style="border-top: none;"></td>
                                <td style="border-top: none !important; font-size: 12px; margin: auto;" data-toggle="collapse" id="currentUser" class="showUserQuarterFinalBet accordion-toggle" data-target="#16final-currentUser">
                                    <span style="cursor: pointer;">
                                        <b>Mitt spel</b>
                                    </span>
                                </td>
                            </tr>


                            <tbody class="accordian-body collapse" id="16final-currentUser" style="margin: 0 auto; color: black; cursor:pointer" data-toggle="collapse" data-target="#16final-currentUser">
                                <tr>
                                    <td class="col-md-1">@Model.CurrentUser.First()</td>
                                    <td class="col-md-2">@Model.CurrentUserBet.Qualified1</td>
                                    <td class="col-md-3">@Model.CurrentUserBet.Qualified2</td>
                                    <td class="col-md-3">@Model.CurrentUserBet.Qualified3</td>
                                    <td class="col-md-3">@Model.CurrentUserBet.Qualified4</td>
                                </tr>
                                <tr>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                    <td class="col-md-2" style="border-top: none; ">@Model.CurrentUserBet.Qualified5</td>
                                    <td class="col-md-3" style="border-top: none;">@Model.CurrentUserBet.Qualified6</td>
                                    <td class="col-md-3" style="border-top: none;">@Model.CurrentUserBet.Qualified7</td>
                                    <td class="col-md-2" style="border-top: none;">@Model.CurrentUserBet.Qualified8</td>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                </tr>
                                <tr>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                    <td class="col-md-2" style="border-top: none;">@Model.CurrentUserBet.Qualified9</td>
                                    <td class="col-md-3" style="border-top: none;">@Model.CurrentUserBet.Qualified10 </td>
                                    <td class="col-md-3" style="border-top: none;">@Model.CurrentUserBet.Qualified11</td>
                                    <td class="col-md-3" style="border-top: none;">@Model.CurrentUserBet.Qualified12</td>
                                </tr>
                                <tr>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                    <td class="col-md-2" style="border-top: none; ">@Model.CurrentUserBet.Qualified13</td>
                                    <td class="col-md-3" style="border-top: none;">@Model.CurrentUserBet.Qualified14</td>
                                    <td class="col-md-3" style="border-top: none;">@Model.CurrentUserBet.Qualified15</td>
                                    <td class="col-md-2" style="border-top: none;">@Model.CurrentUserBet.Qualified16</td>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </td>
                <tr data-toggle="collapse" data-target="#qfinal" class="accordion-toggle showResultsRow">
                    <td colspan="9">
                        <div>
                            <table class="showResultTable">
                                <tr>
                                    <td>Lag i kvartsfinal</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <td colspan="12" class="hiddenRow">
                    <div class="accordian-body collapse" id="qfinal">
                        <table class="table">
                            <thead class="quarterfinalBet">
                                <tr>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                    <td class="col-md-2"><img class="flag flag-@Model.UserBet.QuarterFinalist1.Replace(" ", "_")" /></td>
                                    <td class="col-md-3"><img class="flag flag-@Model.UserBet.QuarterFinalist2.Replace(" ", "_")" /></td>
                                    <td class="col-md-3"><img class="flag flag-@Model.UserBet.QuarterFinalist3.Replace(" ", "_")" /></td>
                                    <td class="col-md-2"><img class="flag flag-@Model.UserBet.QuarterFinalist4.Replace(" ", "_")" /></td>
                                    <td class="col-md-1"></td>
                                </tr>
                                <tr>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                    <td style="border-top: none; color: @Model.UserBet.QuarterFinalist1Color"> @Model.UserBet.QuarterFinalist1</td>
                                    <td style="border-top: none; color: @Model.UserBet.QuarterFinalist2Color"> @Model.UserBet.QuarterFinalist2</td>
                                    <td style="border-top: none; color: @Model.UserBet.QuarterFinalist3Color"> @Model.UserBet.QuarterFinalist3</td>
                                    <td style="border-top: none; color: @Model.UserBet.QuarterFinalist4Color"> @Model.UserBet.QuarterFinalist4</td>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                </tr>
                                <tr>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                    <td style="border-top: none;" class="col-md-2"><img class="flag flag-@Model.UserBet.QuarterFinalist5.Replace(" ", "_")" /></td>
                                    <td style="border-top: none;" class="col-md-3"><img class="flag flag-@Model.UserBet.QuarterFinalist6.Replace(" ", "_")" /></td>
                                    <td style="border-top: none;" class="col-md-3"><img class="flag flag-@Model.UserBet.QuarterFinalist7.Replace(" ", "_")" /></td>
                                    <td style="border-top: none;" class="col-md-2"><img class="flag flag-@Model.UserBet.QuarterFinalist8.Replace(" ", "_")" /></td>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                </tr>
                                <tr style="color: black;">
                                    <td class="col-md-1" style="border-top: none;"></td>
                                    <td style="border-top: none; border-bottom: 1px solid #ddd; color: @Model.UserBet.QuarterFinalist5Color"> @Model.UserBet.QuarterFinalist5</td>
                                    <td style="border-top: none; border-bottom: 1px solid #ddd; color: @Model.UserBet.QuarterFinalist6Color"> @Model.UserBet.QuarterFinalist6</td>
                                    <td style="border-top: none; border-bottom: 1px solid #ddd; color: @Model.UserBet.QuarterFinalist7Color"> @Model.UserBet.QuarterFinalist7</td>
                                    <td style="border-top: none; border-bottom: 1px solid #ddd; color: @Model.UserBet.QuarterFinalist8Color"> @Model.UserBet.QuarterFinalist8</td>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                </tr>
                            </thead>
                            <tr style="color: black" class="text-center">
                                <td class="col-md-1" style="border-top: none;"></td>
                                <td style="border-top: none !important; font-size: 12px; margin: auto;" data-toggle="collapse" id="currentUser" class="showUserQuarterFinalBet accordion-toggle" data-target="#qfinal-currentUser">
                                    <span style="cursor: pointer;">
                                        <b>Mitt spel</b>
                                    </span>
                                </td>
                            </tr>
                            <tbody class="accordian-body collapse" id="qfinal-currentUser" style="margin: 0 auto; color: black; cursor:pointer" data-toggle="collapse" data-target="#qfinal-currentUser">
                                <tr>
                                    <td class="col-md-1">@Model.CurrentUser.First()</td>
                                    <td class="col-md-2" style=""> @Model.CurrentUserBet.QuarterFinalist1</td>
                                    <td class="col-md-3">@Model.CurrentUserBet.QuarterFinalist2 </td>
                                    <td class="col-md-3">@Model.CurrentUserBet.QuarterFinalist3</td>
                                    <td class="col-md-3">@Model.CurrentUserBet.QuarterFinalist4 </td>
                                </tr>
                                <tr>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                    <td class="col-md-2" style="border-top: none; ">@Model.CurrentUserBet.QuarterFinalist5</td>
                                    <td class="col-md-3" style="border-top: none;">@Model.CurrentUserBet.QuarterFinalist6 </td>
                                    <td class="col-md-3" style="border-top: none;">@Model.CurrentUserBet.QuarterFinalist7</td>
                                    <td class="col-md-2" style="border-top: none;">@Model.CurrentUserBet.QuarterFinalist8 </td>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>

                <tr data-toggle="collapse" data-target="#sfinal" class="accordion-toggle showResultsRow">
                    <td colspan="9">
                        <div>
                            <table style="margin: auto">
                                <tr>
                                    <td class="">Lag i semifinal</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <td colspan="12" class="hiddenRow">
                    <div class="accordian-body collapse" id="sfinal">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td style="border-top: none;"><img class="flag flag-@Model.UserBet.Semifinalist1.Replace(" ", "_")" /></td>
                                    <td style="border-top: none;"><img class="flag flag-@Model.UserBet.Semifinalist2.Replace(" ", "_")" /></td>
                                    <td style="border-top: none;"><img class="flag flag-@Model.UserBet.Semifinalist3.Replace(" ", "_")" /></td>
                                    <td style="border-top: none;"><img class="flag flag-@Model.UserBet.Semifinalist4.Replace(" ", "_")" /></td>
                                    <td></td>
                                <tr style="color: black;">
                                    <td class="col-md-1" style="border-top: none;"></td>
                                    <td style="border-top: none; border-bottom: 1px solid #ddd; color: @Model.UserBet.Semifinalist1Color"> @Model.UserBet.Semifinalist1</td>
                                    <td style="border-top: none; border-bottom: 1px solid #ddd; color: @Model.UserBet.Semifinalist2Color"> @Model.UserBet.Semifinalist2</td>
                                    <td style="border-top: none; border-bottom: 1px solid #ddd; color: @Model.UserBet.Semifinalist3Color"> @Model.UserBet.Semifinalist3</td>
                                    <td style="border-top: none; border-bottom: 1px solid #ddd; color: @Model.UserBet.Semifinalist4Color"> @Model.UserBet.Semifinalist4</td>
                                    <td class="col-md-1" style="border-top: none;"></td>
                                </tr>
                            </thead>

                            <tr style="color: black" class="text-center">
                                <td class="col-md-1" style="border-top: none;"></td>

                                <td style="border-top: none !important; font-size: 12px; margin: auto;" data-toggle="collapse" id="currentUser" class="showUserQuarterFinalBet accordion-toggle" data-target="#sfinal-currentUser">
                                    <span style="cursor: pointer;">
                                        <b>Mitt spel</b>
                                    </span>
                                </td>
                            </tr>

                            <tbody class="accordian-body collapse" id="sfinal-currentUser" style="margin: 0 auto; color: black; cursor: pointer; " data-toggle="collapse" data-target="#sfinal-currentUser">
                                <tr>
                                    <td class="col-md-1">@Model.CurrentUser.First()</td>
                                    <td class="col-md-2" style=""> @Model.CurrentUserBet.Semifinalist1</td>
                                    <td class="col-md-3">@Model.CurrentUserBet.Semifinalist2 </td>
                                    <td class="col-md-3">@Model.CurrentUserBet.Semifinalist3</td>
                                    <td class="col-md-3">@Model.CurrentUserBet.Semifinalist4 </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>

                <tr data-toggle="collapse" data-target="#final" class="accordion-toggle showResultsRow">
                    <td colspan="9">
                        <div>
                            <table style="margin: auto">
                                <tr>
                                    <td class="">Lag i final</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <td colspan="12" class="hiddenRow">
                    <div class="accordian-body collapse" id="final">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td class="" colspan="1" style="border-top: none;"></td>
                                    <td style="border-top: none;" colspan="3"><img class="flag flag-@Model.UserBet.Finalist1.Replace(" ", "_")" /></td>
                                    <td style="border-top: none;" colspan="3"><img class="flag flag-@Model.UserBet.Finalist2.Replace(" ", "_")" /></td>
                                    <td class="" colspan="3" style="border-top: none;"></td>
                                </tr>
                                <tr style="color: black">
                                    <td style="border-top: none; border-bottom: 1px solid #ddd;" colspan="1"></td>
                                    <td style="border-top: none; border-bottom: 1px solid #ddd; color: @Model.UserBet.Finalist1Color" colspan="3">@Model.UserBet.Finalist1</td>
                                    <td style="border-top: none; border-bottom: 1px solid #ddd; color: @Model.UserBet.Finalist2Color" colspan="3">@Model.UserBet.Finalist2</td>
                                    <td style="border-top: none; border-bottom: 1px solid #ddd;" colspan="3"></td>
                                </tr>

                                <tr style="color: black" class="text-center">

                                    <td style="border-top: none !important; font-size: 12px; margin: auto;" data-toggle="collapse" id="currentUser" class="showUserQuarterFinalBet accordion-toggle" data-target="#final-currentUser" colspan="3">
                                        <span style="cursor: pointer;">
                                            <b>Mitt spel</b>
                                        </span>
                                    </td>
                                </tr>


                            </thead>


                            <tbody class="accordian-body collapse" id="final-currentUser" style="margin: 0 auto; color: black; background-color: #f1f1f1; cursor: pointer;" data-toggle="collapse" data-target="#final-currentUser">
                                <tr>
                                    <td colspan="1">@Model.CurrentUser.First()</td>
                                    <td colspan="3" style=""> @Model.CurrentUserBet.Finalist1</td>
                                    <td colspan="3">@Model.CurrentUserBet.Finalist2 </td>
                                    <td colspan="3"></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </td>
                <tr data-toggle="collapse" data-target="#goals" class="accordion-toggle showResultsRow">
                    <td colspan="9">
                        <div>
                            <table style="margin: auto">
                                <tr>
                                    <td>Totalt antal mål i turneringen (utslagsfrågan)</td>
                                    <td width="50px"></td>
                                    <td class="">@Model.UserBet.TotalGoals</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <td colspan="12" class="hiddenRow">
                    <div class="accordian-body collapse" id="goals">
                        <table class="table table-striped">
                            <thead>
                                <tr class="text-center">

                                    <td class="otherBets">
                                        <div>
                                            <b>Mitt spel: </b>@Model.CurrentUserBet.TotalGoals
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </td>
            </table>
        </div>
    </div>
</div>

<script>

    $("showUserQuarterFinalBet").on("click", "span.btn", function () {
        var childId = $(this).parents("tr").prop("id");
        $(".child-" + childId).toggle("slow");
    });


</script>
