@model Awesome.Models.ViewModel.BetPageViewModel

@{
    ViewBag.Title = "MyBetPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>MyBetPage</h2>




<div class="row">
@if (Model.CurrentUserBet != null)
{
    <div class="col-md-8" style="float: left">
        <div class="row">
            <div class="col-md-4">
                <h4>@Model.CurrentUser</h4>
            </div>
            <div class="col-md-4">
                <h4>Resultat</h4>
            </div>

            <div class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Andras spel<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @foreach (var item in Model.OtherUsersBet)
                    {
                        <li id="@item.LoginName"><a href="#">@item.LoginName</a></li>
                    }
                </ul>
            </div>
        </div>


        @foreach (var item in Model.CurrentUserBet.Matches)
        {
            <div class="row">
                <div class="col-md-4">@item.HomeTeam - @item.AwayTeam</div>
                <div class="col-md-4">@item.HomeScore - @item.AwayScore</div>
            </div>
        }
        Finalistlag 1: @Model.CurrentUserBet.Finalist1
        Finalistlag 2: @Model.CurrentUserBet.Finalist2
        Semifinalistlag 1: @Model.CurrentUserBet.Semifinalist1
        Semifinalistlag 2: @Model.CurrentUserBet.Semifinalist2
        Skytteligavinnare: @Model.CurrentUserBet.TopScorer
    </div>
        <div class="row" style="float: left">
            <div class="otherBet col-md-4">
                @foreach (var bet in Model.OtherUsersBet)
                {
                    <ul data-id="@bet.LoginName" hidden>
                        @foreach (var match in bet.UserBet.Matches)
                        {

                            <div class="col-md-8">@match.HomeScore - @match.AwayScore</div>

                        }
                        Finalistlag 1: @Model.CurrentUserBet.Finalist1
                        Finalistlag 2: @Model.CurrentUserBet.Finalist2
                        Semifinalistlag 1: @Model.CurrentUserBet.Semifinalist1
                        Semifinalistlag 2: @Model.CurrentUserBet.Semifinalist2
                        Skytteligavinnare: @Model.CurrentUserBet.TopScorer
                    </ul>
                }
          

                </div>
            </div>
        }


    @*<div class="col-md-4">
            @Model.CurrentUserBet.Finalist1
        </div>
        <div class="col-md-4">
            @Model.CurrentUserBet.Finalist2
        </div>
        <div class="col-md-4">
            @Model.CurrentUserBet.Semifinalist1
        </div>
        <div class="col-md-4">
            @Model.CurrentUserBet.Semifinalist2
        </div>
        <div class="col-md-4"> @Model.CurrentUserBet.TopScorer</div>*@
    </div>

}






<script>
    $(function () {
        
        $(".dropdown-menu li").click(function () {
            var dropDownId = (this.id);
            $('body').find('.otherBet ul').hide();
            $('body').find('[data-id="' + dropDownId + '"]').show();
            
        });

    });
</script>